* {
    box-sizing: border-box;
}
/* position main container elemets and give fonts*/ 
main {
    padding: 20px 20px;
    font-family: Roboto;
}
/* Task board that will hold all task */
#taskBoard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    grid-auto-rows: 200px;
}
/* Individual task container properties */
.task {
    display: inline-grid;
    contain: content;
    background-color: blanchedalmond;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.task:hover {
    box-shadow: inset 0 0 10px black;
}
/* individual task container that opens new task form */
#newTask {
    background-color: rgba(180, 180, 180, 0.5);
}
#newTask:hover {
    cursor: pointer;
}
/* form background */
#createTaskModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.5);
}
/* form contaner for creating new task  */
#newTaskForm {
    display: none;
    z-index: 2;
    background-color: aliceblue;
    margin: 10% auto;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
}
/* Warning message if input is invalid*/
#message {
    float: right;
    contain: content;
    color:red;
}

/* task description input field */
textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: small;
    box-shadow: inset 2px 2px 5px black;
}
/* Action button for submitting task */
#newTaskForm > button {
    width: 100px;
    height: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
}
/* Form header input field */
#headerInput {
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    padding: 2px;
    box-shadow: inset 1px 1px 3px black;
}
#addTask:hover {
    background-color:mediumseagreen;
    cursor: pointer;
}
#cancel:hover {
    background-color:indianred;
    cursor: pointer;
}
/* created task header element properties */
.taskHeader {
    margin: 0;
    padding: 0;
    height: 20px;
}
/* created task description element properties */
.taskDescription{
    position: relative;
    margin: 0;
    padding: 5px;
    height: 110px;
    overflow-y: scroll;
    font-size: smaller;
}
/* button to delete task is hidden outside contain container */
.task > button {
    position: relative;
    left: 180px;
    bottom: -50px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    color: white;
    background-color: thistle;
    opacity: 0;
    transition: all 0.5s;
}
.task:hover > button {
    opacity: 1;
    transform: translate(-25px, -25px);
}
.task > button:hover {
    background-color: indianred;
    cursor: pointer;
    box-shadow: 0 0 7px indianred;
    transform: translate(-35px, -35px);
}