* {
    box-sizing: border-box;
    font-family: Roboto;
}
/* position main container elemets and give fonts*/ 
main {
    padding: 20px 20px;
    font-family: Roboto;
}
#navbar {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    grid-auto-rows: 40px;
}
.navButton {
    text-decoration: none;
    display: inline-grid;
    font-size: medium;
    padding: 5px;
    border-bottom: 1px solid #777;
}

/* Login segment */
#loginPageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}
#loginForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #F6D5DC;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
}
#loginForm label {
    font-size: medium;
    color: #777;
    margin-bottom: 3px;
}
#loginForm input {
    width: 85%;
    font-size: medium;
    color: #777;
    margin-bottom: 3px;
}

/* Task board that will hold all task */
#taskBoard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    grid-auto-rows: 200px;
}
/* Individual task container properties */
.task {
    display: inline-grid;
    contain: content;
    width: 200px;
    background-color: blanchedalmond;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    backface-visibility: hidden;
    transition: transform .15s;
}
.task:hover {
    transform: scale(1.05) translateZ(0);
    backface-visibility: hidden;
    cursor: pointer;
}
/* individual task container that opens new task form */
#newTask {
    background-color: rgba(180, 180, 180, 0.5);
}
#newTask:hover {
    cursor: pointer;
}
/* form background */
#createTaskModal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(180, 180, 180, 0.5);
}
/* Loader ring */
#loader {
    display: none;
    z-index: 2;
    border: 10px solid #777;
    border-top: 10px solid #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* form contaner for creating new task  */
#newTaskForm {
    display: none;
    z-index: 2;
    background-color: aliceblue;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    padding: 20px;
    box-shadow: 2px 2px 5px black;
}
/* Warning message if input is invalid*/
#message {
    float: right;
    contain: content;
    color:red;
}

/* task description input field */
textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: small;
    box-shadow: inset 2px 2px 5px black;
}
/* Action button for submitting task */
#newTaskForm > button {
    width: 100px;
    height: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
}
/* Form header input field */
#headerInput {
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    padding: 2px;
    box-shadow: inset 1px 1px 3px black;
}
#addTask:hover {
    background-color:mediumseagreen;
    cursor: pointer;
}
#cancel:hover {
    background-color:indianred;
    cursor: pointer;
}
/* created task header element properties */
.taskHeader {
    position: relative;
    margin: 0;
    padding: 0;
    height: 20px;
}
/* created task description element properties */
.taskDescription{
    position: relative;
    margin: 0;
    padding: 5px;
    height: 110px;
    overflow-y: scroll;
    font-size: smaller;
}
/* button to delete task is hidden outside contain container */
.task > button {
    position: absolute;
    right: -35px;
    bottom: -35px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    color: white;
    background-color: thistle;
    opacity: 0;
    transition: all 0.5s;
}
.task:hover > button {
    opacity: 1;
    transform: translate(-20px, -20px);
}
.task > button:hover {
    background-color: indianred;
    cursor: pointer;
    box-shadow: 0 0 7px indianred;
    transform: translate(-30px, -30px);
}